.tight-table td {
   white-space: normal!important;
   word-break: break-word;
   word-wrap: break-word;
}

.noborder-table td, th {
   border: none!important;
}

.noborder-tight-table td, th {
   white-space: normal !important;
   word-break: break-word;
   word-wrap: break-word;
   border: none!important;
}

/* Hide "On GitHub" section from versions menu */
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(4) {
    display: none;
}

.blue {
    color:#0080c0;
}